<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools"
    package="com.swasthgarbh.root.swasthgarbh">

    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
    <uses-permission android:name="android.permission.READ_CALENDAR" />
    <uses-permission android:name="android.permission.WRITE_CALENDAR" />
    <uses-permission android:name="android.permission.ACCESS_FINE_LOCATION" />
    <uses-permission android:name="android.permission.ACCESS_COARSE_LOCATION" />
    <uses-permission android:name="com.google.android.providers.gsf.permisson.READ_GSERVICES" />

    <uses-feature
        android:name="android.hardware.camera"
        android:required="false" />

    <application
        android:name=".ApplicationController"
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/AppTheme"
        android:usesCleartextTraffic="true"
        tools:ignore="GoogleAppIndexingWarning">

        <activity android:name=".advice_nutritional" />
        <activity android:name=".PatientSignupByDoctor" />
        <activity android:name=".patientDetailInDoctor" />

        <meta-data
            android:name="com.google.android.geo.API_KEY"
            android:value="@string/google_maps_key" />

        <activity
            android:name=".MainActivity"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity android:name=".patient_registration" />
        <activity android:name=".ControllerActivity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>

        <service android:name=".MyFirebaseMessagingService">
            <intent-filter>
                <action android:name="com.google.firebase.MESSAGING_EVENT" />
            </intent-filter>
        </service>
        <service android:name=".MyFirebaseInstanceIDService">
            <intent-filter>
                <action android:name="com.google.firebase.INSTANCE_ID_EVENT" />
            </intent-filter>
        </service>

        <receiver
            android:name=".NotificationReceiver"
            android:enabled="true"
            android:exported="false">
            <intent-filter>
                <action android:name="NOTIFICATION_SERVICE" />
            </intent-filter>
        </receiver>

        <activity android:name=".image_view_modal" />
        <activity android:name=".ChooseActivity" />
        <activity android:name=".DoctorScreen" />
        <activity android:name=".WHOGuidelines" />
        <activity android:name=".PatientSignup" />
        <activity android:name=".DoctorSignup" />
        <activity android:name=".patientDataEntry" />
        <activity android:name=".PatientListRow" />
        <activity android:name=".AllPatientListActivity" />
        <activity android:name=".DoctorScreenForParticularPatient" />
        <activity android:name=".PatientNotifications" />
        <activity android:name=".MedicineReminder" />
        <activity android:name=".PatientImages" />
        <activity android:name=".all_images_view" />
        <activity android:name=".AboutPreeclampsia" />
        <activity android:name=".Disclaimer" />
        <activity android:name=".NearbyHospitals" />
        <activity android:name=".patient_data_entry_bydoc" />
        <activity
            android:name=".ANC_Assist"
            android:label="@string/title_activity_anc__assist"
            android:theme="@style/AppTheme.NoActionBar" />

        <provider
            android:name="android.support.v4.content.FileProvider"
            android:authorities="com.swasthgarbh.fileprovider"
            android:exported="false"
            android:grantUriPermissions="true">
            <meta-data
                android:name="android.support.FILE_PROVIDER_PATHS"
                android:resource="@xml/file_paths" />
        </provider>

        <activity android:name=".NotificationActivity" />

        <receiver android:name=".AlarmReceiver" />
    </application>

</manifest>